# API Base URL
VITE_API_URL=http://localhost:5000/api/v1

# Media / Static File Upload URL
VITE_FILE_URL=http://localhost:5000/

# Map & Geocoding Services
VITE_OSRM_BASE_URL=https://router.project-osrm.org
VITE_NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
VITE_NOMINATIM_EMAIL=your_email@example.com

# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id
